---
layout: layout.njk
title: Kontakt
eleventyNavigation:
  key: Kontakt
  order: 5
date: 2016-04-28
---

<div class="container">
	<div class="row justify-content-center">
		<div class="jumbotron text-center">
			<h1 class="display-4">Schreib <span class="rmjs">RheinMainJS</span></h1>
		</div>
	</div>
	<div class="row">
		<p>Schreib uns unter <a href="mailto:orga@rheinmainjs.de">orga@rheinmainjs.de</a></p>
	</div>
</div>
