---
layout: layout.njk
title: RheinMainJS
eleventyNavigation:
  key: RheinMainJS
  order: 1
date: 2016-04-28
---

<div class="container">
	<div class="row justify-content-center pt-5 pb-5">
		<div class="jumbotron text-center">
			<h1 class="display-4">Willkommen bei <span class="rmjs">RheinMainJS</span></h1>
			<h2>JavaScript User Group Wiesbaden und Mainz</h2>
		</div>
	</div>
	<div class="row">
		<p class="lead">Aktuell gibt es noch keinen festen Termin für das nächste Meetup, aber wir arbeiten hinter den Kulissen
			eifrig an der nächsten Veranstaltung.
			Wenn du ein interessantes Thema hast oder einen Talk halten willst, dann melde dich bei uns.</p>
		<p class="lead">Wenn du immer auf dem neuesten Stand bleiben möchtest, folge uns auf <a
					href="https://twitter.com/RheinMainJS">Twitter</a>, besuche uns bei <a
					href="https://www.meetup.com/de-DE/RheinMainJS/">Meetup</a>, oder schaue einfach regelmäßig hier
			vorbei. Wir sehen uns auf dem nächsten Meetup!</p>
	</div>
	<div class="row justify-content-center">
			<img src="img/group.jpg" class="img-responsive" alt="Bei einem User Group Meetup">
	</div>
	<div class="d-grid gap-2 d-md-block justify-content-center pt-5 pb-5">
		<a href="https://twitter.com/RheinMainJS" class="btn btn-primary mr-1"><i class="fa fa-twitter mr-1"></i>@RheinMainJS</a>
		<a href="mailto:orga@rheinmainjs.de" class="btn btn-primary"><i class="fa fa-envelope-o mr-1"></i>orga@rheinmainjs.de</a>
	</div>
</div>
