---
title: Hackathon für EduTech und Science in Mainz
date: 2015-07-03
author: Matthias
layout: news.njk
tags: news
---

<div class="image-wrap"><img src="/img/r1m8ufofmtkjouhjubeh.webp" class="img-responsive"></div><h1
        id="hackathon-für-edutech-und-science-in-mainz"><a href="#hackathon-für-edutech-und-science-in-mainz"
                                                           name="hackathon-für-edutech-und-science-in-mainz"></a>Hackathon
    für EduTech und Science in Mainz</h1><p>Vom 30. Juli bis 1. August 2015 findet in der Alten Mensa der Uni Mainz der
    <a href="http://www.hackathon-rhein-main.de/">Hackathon Rhein-Main</a> statt. Es gibt Preise im Wert von 8.000 € zu
    gewinnen, aber im Vordergrund soll natürlich stehen, neue Technologien ausprobieren und erlernen zu können, sich zu
    vernetzen und Spaß zu haben.</p>
<blockquote><p>Beim Hackathon RheinMain werden Anwendungen zum Thema EduTech & Science entwickelt. Es geht um Apps zu
        Bildung und Forschung, zu Lernen und Lehren, zu Studieren und Organisieren. Von Apps für Universitäten, Lehrende
        oder Studierende bis zu Anwendungen für Wissenstransfer oder um den Bereich eLearning.</p></blockquote><p>Die
    Teilnehmerzahl ist auf 40 beschränkt, die <a
            href="http://www.hackathon-rhein-main.de/2015/06/29/anmeldung-freigegeben/">Anmeldung</a> ist bereits
    freigegeben. Hinter dem Hackathon stehen das Team von <a href="https://www.thesius.de/">Thesius</a>, einer Plattform
    zur akademischen Recherche, und die Hochschulgruppe START, die Startups und Uni zusammenbringen möchte.</p>
<p>
    <iframe src="https://www.youtube.com/embed/i8r-tSAHXbY" allowfullscreen="" width="560" height="315"
            frameborder="0"></iframe>
</p>
