---
title: Unser 10. Meetup findet in Mainz statt
date: 2015-04-21
author: Matthias
layout: news.njk
tags: news
---

Das 10. Meetup findet am 22. April 2015 bei der UDG Rhein-Main im Mainzer Zollhafen statt.<br>
<br>Pünktlich zu unserem ersten kleinen Jubiläum eine neue Webseite online gegangen. Sie basiert auf KeystoneJS, einem Node.js CMS und Web Application Framework.
<a href="https://plus.google.com/107692581640909902970">Matthias
    Gutjahr</a> wird die Webseite und KeystoneJS in einem kurzen Talk genauer vorstellen.<br>
<br>Außerdem freuen wir uns, mit <a href="https://plus.google.com/107316807994895176615">Oliver
    Zeigermann</a> einen Sprecher aus Hamburg präsentieren zu können. Oliver wird uns einiges über Microsofts TypeScript erzählen, insbesondere mit Bezug auf die kommende Version 1.5.
<br><br>Die Facts im Überblick:<br><br><strong>Wann?</strong> Mittwoch, 22. April 2015, ca. 19:00-21:30 Uhr <br><br>
<strong>Wo?</strong> UDG Rhein-Main GmbH, Taunusstraße 59-61/Zollhafen, 55120 Mainz<br><br>
<strong>Was?</strong> "TypeScript 1.5" von Oliver Zeigermann
<br>"KeystoneJS - Das CMS hinter der neuen RheinMainJS-Webseite" von Matthias Gutjahr<br>
<br>Die Teilnahme ist wie immer kostenlos und steht allen Interessierten offen!
