---
title: Ein superbes Jubiläums-Meetup
date: 2015-04-23
author: Matthias
layout: news.njk
tags: news
---

<div class="image-wrap"><img src="/img/bniwmcoltsupagjsid8c.webp" class="img-responsive"></div><p><span
            style="font-family: 'Times New Roman'; font-size: medium;">Das gestrige Meetup war ein voller Erfolg. Knapp 30 Teilnehmer kamen, um sich auszutauschen und den beiden Talks zu lauschen.</span>
</p><p>Zunächst stellte <a href="http://blog.sperrobjekt.de/">Matthias Gutjahr</a> das Node.js-basierte CMS <a
            href="http://keystonejs.com/">KeystoneJS</a> vor, auf dem auch die aktuelle RheinMainJS-Webseite läuft. Das
    CMS bietet viele nützliche Features und setzt auf weit verbreitete Module und Konventionen und erleichtert dadurch
    den Einstieg. Es gab sogar Teilnehmer, die sich noch während des Vortrags erfolgreich eine eigene KeystoneJS-Instanz
    installierten. Allerdings wies der Talk auch auf einige Tücken hin, die man im laufenden Betrieb beachten sollte.
    [<a href="http://talks.sperrobjekt.de/keystonejs">Slides</a>] </p><p>Nach einer kurzen Pause folgte <a
            href="http://zeigermann.eu/">Oliver Zeigermann</a>s ebenso unterhaltsame wie lehrreiche Vorstellung von
    Microsofts <a href="http://www.typescriptlang.org/">TypeScript</a> und vielen EcmaScript6-Features. Anhand
    zahlreicher Code-Beispiele, die er live in seiner IDE ausführte, zeigte er praxisnah, welche Möglichkeiten die neuen
    Technologien bieten. Es entspann sich eine lebhafte Diskussion mit den Teilnehmern - genau so soll es bei einem User
    Group Meetup sein!</p><p>Zuletzt folgten noch Hinweise auf das nächste UG-Treffen (wahrscheinlich im Juni), auf das
    Meetup von <a href="http://www.meetup.com/frankfurtJS/events/221631039/">FrankfurtJS am 6. Mai</a>, und auf einen <a
            href="https://5xdc425u3c7r655rcwzs8ebxc.launchrock.com/">Hackathon zum Thema Semantic Web und IoT</a>, der
    im Sommer in Mainz stattfinden soll.</p><p>Zum gelungenen Abend beigetragen hat auch das von <a
            href="http://www.udg.de/rhein-main/">UDG Rhein-Main</a> beigesteuerte Catering und die Getränkeversogung,
    danke dafür! Insgesamt war es ein tolles Meetup, vielen Dank an alle Teilnehmer und für die netten Tweets :)</p>
